<nav class="navbar navbar-expand-md navbar-light fixed-top">
  <div class="container">
    <h1>
      <a class="navbar-brand navbrandlogo" href="/home">YNOT</a>
    </h1>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h1 class="offcanvas-title" id="offcanvasNavbarLabel">
          <a routerLink="/home">YNOT</a>
        </h1>
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search-results">Search </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/join-our-community"
              >Join Our Talent Community
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
