<div class="componentsection">
  <div class="banner-component">
    <img src="assets/images/homebanner.png" alt="" class="banner-img" />
    <div class="content homebannercontent">
      <h2>Start Your Amazing Journey With Us</h2>
      <button routerLink="/search-results" class="homesearchjobs">
        Seach Jobs
      </button>
    </div>
  </div>
</div>
<div class="container benefits componentsection">
  <h2 style="text-align: center">Benefits of working with us</h2>
  <div class="row cardccontainer">
    <div class="col-md-4 cardcc">
      <img src="assets/images/prfo1.jpg" alt="" />
      <div class="card-content">
        Join a team that brings advanced technologies like Web Technologies,
        Java, Python, cloud computing and Internet of Things to consumers with
        ease of effort required from client
      </div>
    </div>
    <div class="col-md-4 cardcc">
      <img src="assets/images/prof2.jpg" alt="" />
      <div class="card-content">
        Jump-start your career by joining YNOT award-winning Graduate Leadership
        or Summer Internship Programs. Gain valuable experience that will help
        you succeed in the future.
      </div>
    </div>
  </div>
</div>
<div class="componentsection container lifeinynot">
  <div class="row">
    <div class="col-md-4 card-withsmall">
      <img src="assets/images/health.png" alt="" />
      <h4>Health & dental</h4>
      <p>
        Choose from flexible health and dental benefits for you and your family,
        and get virtual access 24/7 to health care professionals.
      </p>
    </div>
    <div class="col-md-4 card-withsmall">
      <img src="assets/images/mental.png" alt="" />

      <h4>Mental health & wellness</h4>
      <p>
        Prioritize your own mental health and wellness with access to mental
        health support and resources.
      </p>
    </div>
    <div class="col-md-4 card-withsmall">
      <img src="assets/images/savings.png" alt="" />

      <h4>Savings</h4>
      <p>
        Save for your personal goals with a range of investment options,
        including an Employees’ Savings Plan with financial contributions from
        YNOT.
      </p>
    </div>
    <div class="col-md-4 card-withsmall">
      <img src="assets/images/learning.png" alt="" />

      <h4>Learning & development</h4>
      <p>
        Reach your leadership potential and career aspirations with a variety of
        training and learning solutions.
      </p>
    </div>
    <div class="col-md-4 card-withsmall">
      <img src="assets/images/perks.png" alt="" />

      <h4>Perks & discounts</h4>
      <p>
        ​​​​​​​Enjoy discounts at your favourite fitness studios, preferred
        rates for the big game and more. You'll also get discounts on most YNOT
        products and services.
      </p>
    </div>
    <div class="col-md-4 card-withsmall">
      <img src="assets/images/flexibility.png" alt="" />

      <h4>Flexibility & recognition</h4>
      <p>
        Enjoy flexible work arrangements, competitive compensation and impactful
        recognition programs.
      </p>
    </div>
    <div class="col-md-4 card-withsmall">
      <img src="assets/images/family.png" alt="" />

      <h4>Family assistance</h4>
      <p>
        Get professional, confidential counselling and support for you and your
        family with YNOT’s Employee and Family Assistance Program.
      </p>
    </div>
    <div class="col-md-4 card-withsmall">
      <img src="assets/images/innovation.png" alt="" />

      <h4>Innovation</h4>
      <p>
        Work at the forefront of innovation, bringing advanced technologies to
        Team.
      </p>
    </div>
    <div class="col-md-4 card-withsmall">
      <img src="assets/images/mentorship.png" alt="" />

      <h4>Mentorship</h4>
      <p>
        Create your own growth plan with help from our mentorship program, which
        gives you the opportunity to learn from our senior leaders.
      </p>
    </div>
  </div>
</div>
<div class="componentsection jtccomponent">
  <div class="banner-component">
    <img src="assets/images/jtc.png" alt="" class="banner-img ltcimg" />
    <div class="content jtccontent">
      <h2>Join our Talent Community</h2>
      <p>
        Stay connected with us and get notified about interesting career
        opportunities that align with what you’re looking for.
      </p>
      <button routerLink="/join-our-community" class="jtcbtn">
        Join Talent Community
      </button>
    </div>
  </div>
</div>
