<div class="container-fluid footerbg">
  <div class="footer-area container">
    <div class="logo">
      <h1>YNOT</h1>
    </div>
    <div class="row">
      <ul class="footerItems">
        <li>
          <a routerLink="/home">Home</a>
        </li>
        <li>
          <a routerLink="/search-results">Search Jobs</a>
        </li>
        <li>
          <a routerLink="/join-our-community">Join our Community</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="coyright" style="text-align: center">
    YNOT Careers Copyright @ 2022
  </div>
</div>
